type bt_firmware_file, file_type;
type firmware_file, file_type;
type ipacm-diag_exec, exec_type, vendor_file_type, file_type;
type wcnss_service_exec, exec_type, vendor_file_type, file_type;
